.pio/
.vscode/
.pioenvs/
*.pio
*.pyc
*.tmp
*.log
*.gz
*.zip
*.bin
# User-specific files
*.swp
*.swo
.DS_Store

# PlatformIO build files
build/
lib/.cache/

# Arduino temporary files
*.elf
*.hex
*.bin
